<div class="row">
  <div class="span12">
    <h1 class="page-header"><style type="text/css">
        h1 { text-align:center; }
    </style><%= @username %>'s Posts</h1>


    
    <% if @viewed_id == @curruser_id %> 
        Add a new post:

        <%= form_for Post.new, :remote => true do |f| %>
          <%= f.text_area :text, :rows => 5, :cols => 100 %>
          <%= f.label "Add an image or video to post (paste url):" %>
          <%= f.text_field :url %>
          <%= f.hidden_field :user_id, :value => session[:user_id] %><br>
          <%= f.submit %>
        <% end %>
        <hr><hr>
    <% else %>
        <%= render 'subscriber' %>    
    <% end %>
    <br><br>

    <ul id = "posts_section">
        <% @posts.each do |post| %>
        <%= render 'posts/post', :post => post %>
    <% end %>
    </ul>

    <%= paginate @posts %>
    
  </div>
</div>