<p id="notice"><%= notice %></p>


 <n style="font-size:20px"><b><%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %></b></n>
        <p></p>
        <%= @post.text %>
        <p></p>
        <% if @post.url.present? %>
            <!--<%= image_tag("#{@post.url}", :height => '300', :width => '300') %> -->
            <%= link_to @post.url_html, :class => "url" %>
        <% end %><br>

<%= link_to 'Back', "/#{session[:vieweduser]}" %>

<br><hr><hr>

Add a comment:

<%= form_for Comment.new, :remote => true do |f| %>
  <%= f.text_field :text, size: 50 %>
  <%= f.hidden_field :post_id, :value => params[:id] %>

  <% if session[:username].present? %>
	<%= f.hidden_field :username, :value => session[:username] %>
  <% else %>
   	<%= f.hidden_field :username, :value => "Anonymous" %>
  <% end %>

  <%= f.submit "Submit" %>  
<% end %>

<ul id = "comments_section">
<% @comments.each do |comment| %>
 	<%= render 'comments/comment', :comment => comment %>
<% end %>
</ul>