<br />
<%= link_to "My Subscriptions", subscriptions_url %> |
<%= link_to "My Followers", followers_url %> |
<%= link_to 'Add a New Group', new_group_path %>

<p />
<br />
<h3>My Groups:</h3>

<p />
<% if @groups.present? %>
  <% @groups.each do |group| %>
    <li><%= link_to group.group_name, group_url(group.id) %> |
    <%= link_to 'Edit', edit_group_path(group) %> |
	<%= link_to 'Delete', group, method: :delete, data: { confirm: 'Select OK to confirm deletion.' } %></li>
	<ul>
		<% @members = GroupMember.where(:group_id => group.id) %>
		<% @members.each do |member| %>
  			<% @m = User.where(:id => member.member_id)%>
  			<% @m.each do |user| %>  		
				<li><%= link_to user.username, user_url(user.username) %> |
				<%= link_to 'Delete', member, method: :delete, data: { confirm: 'Select OK to confirm deletion.' } %></li>
			<% end %>
  		<% end %>
	</ul>
	
  <% end %>
<% else %>
  No groups yet.
<% end %>



